@use "@carbon/react";

#app {
  margin: 48px auto;
  padding: 24px;
  max-width: 1000px;
}

.cds--header__name {
  pointer-events: none;
  cursor: default;
}

.generate-button {
  width: 100%;

  .cds--inline-loading {
    margin-top: 2px;
    min-block-size: 0 !important;
  }
}

.code-editor {
  .code-editor__header {
    display: flex;
    justify-content: space-between;
  }

  .code-editor__error {
    background-color: var(--cds-button-danger-primary, #da1e28);
    color: var(--cds-text-on-color, #ffffff);
    min-block-size: 0;
  }
}

.cm-editor {
  padding: 12px !important;
  background-color: var(--cds-field) !important;

  &.cm-focused {
    outline: 2px solid var(--cds-focus, #0f62fe) !important;
  }

  .cm-activeLine,
  .cm-activeLineGutter {
    background-color: var(--cds-layer-accent) !important;
  }
}

.notifications {
  position: fixed;
  bottom: 24px;
  left: 24px;

  .cds--toast-notification:not(:last-child) {
    margin-bottom: 4px;
  }
}